.body {
    background-image: url('sky.jpg');
    margin-left: 5px;

}

.heading {
    background-color: aquamarine;
    text-align: center;
    font-size: 50px;
    color: rgb(19, 19, 189);
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    text-align: center;
    font-size: 20px;
}

nav>ul>li {
    list-style-type: circle;
    display: inline;

}

nav>ul>li>a {
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 10px;

}

nav>ul>li>a:hover {
    background-color: yellow;
    color: darkgreen;

}

.logo {
    align-items: center;
    width: 250px;
    height: 250px;
    margin: auto;
}

.intro {
    text-align: center;
    text-size-adjust: 40%;
    margin: 20px 0;
    color: white;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 5px;
    margin: 5px;
    width: 400px;
    height: 400px;

}

.content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
}

.image {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
}