.body {
    background-image: url('sky.jpg');
    margin-left: 5px;

}

.heading {
    background-color: aquamarine;
    text-align: center;
    font-size: 50px;
    color: rgb(19, 19, 189);
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    text-align: center;
    font-size: 20px;
}

nav>ul>li {
    list-style-type: none;
    display: inline;

}

nav>ul>li>a {
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 10px;
}

nav>ul>li>a:hover {
    background-color: yellow;
    color: darkgreen;

}


.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin: 5px;
    width: 400px;
    height: 400px;

}